# ---------------------------------------------------------
# Node
# ---------------------------------------------------------
/node_modules
/npm-debug.log*
/yarn-error.log*

# ---------------------------------------------------------
# Laravel
# ---------------------------------------------------------
/vendor
/.env

# ---------------------------------------------------------
# IDEs
# ---------------------------------------------------------
/.vscode
/.idea

# ---------------------------------------------------------
# Sistema
# ---------------------------------------------------------
.DS_Store
Thumbs.db
/vendor
/node_modules
